:root {
  --primary-text-color: rgba(33, 33, 33, 1);
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-background: #e5e5e5;
  --secondary-background: #f5f4fa;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/* roboto-regular - cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v30-cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v30-cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v30-cyrillic-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-500 - cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v30-cyrillic-500.woff") format("woff"), url("../fonts/roboto-v30-cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v30-cyrillic-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-700 - cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v30-cyrillic-700.woff") format("woff"), url("../fonts/roboto-v30-cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-v30-cyrillic-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-900 - cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v30-cyrillic-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v30-cyrillic-900.woff") format("woff"), url("../fonts/roboto-v30-cyrillic-900.ttf") format("truetype"), url("../fonts/roboto-v30-cyrillic-900.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* raleway-700 - cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v27-cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v27-cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v27-cyrillic-700.woff2") format("woff2"), url("../fonts/raleway-v27-cyrillic-700.woff") format("woff"), url("../fonts/raleway-v27-cyrillic-700.ttf") format("truetype"), url("../fonts/raleway-v27-cyrillic-700.svg#Raleway") format("svg");
  /* Legacy iOS */
}
body {
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
}

[href] {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo--color-blue {
  color: var(--accent-color);
}

.logo--color-black {
  color: var(--primary-text-color);
}

.logo--color-white {
  color: var(--primary-white-color);
}

.page-header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
  margin-top: 0;
  margin-bottom: 0;
}

.nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  margin-left: 93px;
  padding-inline-start: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.menu__link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.02em;
  transition: color 250ms var(--timing-function);
}
.menu__link:hover, .menu__link:focus {
  color: #2196f3;
}

.menu__link--current {
  color: var(--accent-color);
}

.menu__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.menu__item {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-left: 0;
  position: relative;
}
.menu__item:not(:last-child) {
  margin-right: 50px;
}

.connect {
  display: flex;
  margin-left: auto;
}

.connect__link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.02em;
  transition: color 250ms var(--timing-function);
}
.connect__link:hover, .connect__link:focus {
  color: var(--accent-color);
}

.connect__item + .connect__item {
  margin-left: 50px;
}

.connect__icon {
  margin-right: 10px;
  fill: currentColor;
  vertical-align: middle;
}

.hero {
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  min-width: 1600px;
}

.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}

.hero-button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border-color: var(--accent-color);
  transition: background-color 250ms var(--timing-function);
}
.hero-button:hover, .hero-button:focus {
  background-color: #188ce8;
}

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features__list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  flex-wrap: wrap;
  padding-inline-start: 0;
  justify-content: center;
}

.features__item {
  width: 270px;
}

.features__item + .features__item {
  margin-left: 30px;
}

.features__box {
  width: 270px;
  height: 120px;
  background-color: var(--secondary-background);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.features__icons {
  background-position: center;
}

.features__title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 10px;
}

.features__text {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 0;
}

.benefits {
  padding-bottom: 94px;
}

.benefits-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0;
}

.benefits-list {
  display: flex;
  justify-content: center;
  padding-inline-start: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.benefits-list .item + .item {
  margin-left: 30px;
}

.benefits-card {
  position: relative;
}

.benefits-item-title {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  display: flex;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  justify-content: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
  padding-top: 27px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0;
}

.team__list {
  display: flex;
  justify-content: center;
  padding-inline-start: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.team__item {
  border: 1px solid transparent;
  background-color: var(--primary-white-color);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__item + .team__item {
  margin-left: 30px;
}

.section-post-title {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-top: 0;
}

.section-post-text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.section-box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.members-soc-list {
  display: flex;
  justify-content: center;
  padding-inline-start: 0;
}

.members-soc-item {
  width: 44px;
  height: 44px;
  margin-left: 10px;
}
.members-soc-item:first-child {
  margin-left: 0;
}

.members-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.members-soc-link:hover, .members-soc-link:focus {
  background-color: var(--accent-color);
}

.members-soc-icon {
  fill: #afb1b8;
  transition: fill 250ms var(--timing-function);
}

.members-soc-link:hover .members-soc-icon,
.members-soc-link:focus .members-soc-icon {
  fill: var(--primary-white-color);
}

.clients-title {
  font-weight: 700;
  text-align: center;
  font-size: 36px;
  line-height: 1.17;
  margin-top: 94px;
  margin-bottom: 50px;
}

.clients-icon-list {
  display: flex;
  margin-top: 0;
  padding: 0;
  margin-bottom: 94px;
}

.clients-icon-item {
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.clients-icon-item:hover, .clients-icon-item:focus {
  border-color: var(--accent-color);
}

.clients-icon-item + .clients-icon-item {
  margin-left: 30px;
}

.clients-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.clients-logo-icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.clients-icon:hover .clients-logo-icon,
.clients-icon:focus .clients-logo-icon {
  fill: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms linear, visibility 250ms linear;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(360deg);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  width: 528px;
  min-height: 581px;
  background-color: var(--primary-white-color);
  border-radius: 4px;
  transition: transform 250ms linear;
  padding-top: 40px;
  padding-bottom: 40px;
}

.modal-close-button {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-button-icon {
  fill: black;
  transition: fill 250ms var(--timing-function);
}
.modal-button-icon:hover, .modal-button-icon:focus {
  fill: var(--accent-color);
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.form {
  width: 448px;
  outline: 1px solid red;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.modal-field {
  width: 448px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-left: 40px;
  position: relative;
}

.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: var(--secondary-text-color);
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  resize: none;
  padding-top: 12px;
  padding-left: 16px;
}

.modal-input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  position: relative;
  display: block;
  transition: border-color 250ms var(--timing-function);
  padding-left: 45px;
}
.modal-input:hover, .modal-input:focus {
  border-color: var(--accent-color);
  cursor: pointer;
}

.modal-input:hover + .modal-label-icon,
.modal-input:focus + .modal-label-icon {
  fill: var(--accent-color);
}

.title-modal {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.17;
  text-align: center;
  justify-content: center;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 12px;
  margin-top: 0;
}

.modal-field textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.modal-field textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: rgba(117, 117, 117, 0.5);
}

.modal-label-icon {
  position: absolute;
  top: 14px;
  left: 15px;
  transition: fill 250ms var(--timing-function);
}

.modal-input-icon {
  position: relative;
}

.modal-checkbox {
  width: 448px;
  padding-left: 40px;
}

.modal-input-checkbox {
  /*-webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;*/
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.modal-label-checkbox {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 20px;
}

.modal-input-checkbox:checked + .checkbox-icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m3.957 7.752-.069-.066-.069.065-.888.842-.076.072.076.073 3.496 3.334.069.066.069-.066 7.504-7.158.076-.073-.076-.072-.882-.841-.069-.066-.069.066-6.553 6.246-2.539-2.422Z' fill='%23fff' stroke='%23fff' stroke-width='.2'/%3E%3C/svg%3E");
  background-size: contain;
  background-origin: border-box;
}

.modal-doc {
  color: var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
}

.modal-btn {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border-color: var(--accent-color);
  text-align: center;
  justify-content: center;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  margin-left: 164px;
  cursor: pointer;
  border-color: transparent;
  transition: background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}
.modal-btn:hover, .modal-btn:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.textarea {
  resize: none;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.contacts {
  display: flex;
}

.footer-adress {
  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  margin-top: 20px;
  padding-left: 0;
  margin-bottom: 0;
}

.footer-adress .item + .item {
  margin-top: 9px;
}

.footer-link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.footer-link:hover, .footer-link:focus {
  color: var(--accent-color);
}

.footer-title {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  font-style: normal;
  margin-bottom: 20px;
}

.footer-soc-list {
  display: flex;
  padding-inline-start: 0;
}

.footer-soc-item {
  width: 44px;
  height: 44px;
  margin-left: 10px;
}
.footer-soc-item:first-child {
  margin-left: 0;
}

.footer-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.footer-soc-link:hover, .footer-soc-link:focus {
  background-color: var(--accent-color);
}

.footer-soc-icon {
  fill: var(--primary-white-color);
}

.footer-soc-information {
  margin-left: 70px;
}

.communication-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.footer-btn {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border-color: var(--accent-color);
  text-align: center;
  justify-content: center;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  margin-left: 12px;
  border-color: transparent;
  position: relative;
  padding-left: 0;
  padding-right: 29px;
  cursor: pointer;
}

.footer-communication {
  display: block;
  margin-left: 93px;
}

.subscription {
  display: flex;
  right: 0;
}

.footer-icon-btn {
  fill: var(--primary-white-color);
  position: absolute;
  margin-left: 10px;
}

.footer-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
  background-color: #2F303A;
  color: var(--primary-white-color);
}

.placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-top: 15px;
  padding-left: 16px;
}

.main {
  padding-top: 100px;
  padding-bottom: 94px;
}

.menu-button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 0;
  padding-inline-start: 0;
}

.menu-button .item + .item {
  margin-left: 8px;
}

.main-button {
  background-color: var(--secondary-backround);
  color: var(--primary-text-color);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  cursor: pointer;
  min-width: 73px;
  padding: 6px 22px 6px 22px;
  border-radius: 4px;
  border-color: transparent;
  background-color: var(--secondary-background);
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.main-button:hover, .main-button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.menu-pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-inline-start: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.menu-pictures .item {
  width: 370px;
  height: 404px;
  border: 1px solid #eeeeee;
  background-color: var(--primary-white-color);
  margin-right: 30px;
  margin-bottom: 30px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.menu-pictures .item:nth-child(3n) {
  margin-right: 0;
}
.menu-pictures .item:nth-last-child(-n+3) {
  margin-bottom: 0;
}
.menu-pictures .item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.name-pictures {
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
}

.image-card {
  position: relative;
  overflow: hidden;
}
.image-card::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
  background-color: rgba(33, 150, 243, 0.9);
}

.image-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white-color);
  text-align: center;
  justify-content: center;
  margin: 0;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.menu-pictures .item:hover .image-card::before {
  transform: translateY(0);
}

.menu-pictures .item:hover .image-text {
  opacity: 1;
}

.title-pictures {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  margin-top: 0;
}

.text-pictures {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.88;
  margin-top: 0;
  margin-bottom: 0;
}/*# sourceMappingURL=main.css.map */