/* цвет основного текста #212121 */
/* цвет вторичного текста #757575 */
/* цвет акцента #2196F3 */
/* белый цвет #FFFFFF */
/* основной фон #E5E5E5 */
/* дополнительный фон #F5F4FA */

:root {
  --primary-text-color: rgba(33, 33, 33, 1);
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-background: #e5e5e5;
  --secondary-background: #f5f4fa;
}

body {
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}
ul {
  list-style: none;
}

/* ----------------- HEADER --------------------- */

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.page-header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
  margin-top: 0;
  margin-bottom: 0;
}

.main-nav {
  display: flex;
  align-items: center; 
}

.logo-web-primary {
  color: var(--accent-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-studio-primary {
  color: var(--primary-text-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.site-nav .link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.site-nav .link-nav:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link-nav {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-left: 0;
}

.site-nav {
  display: flex;
  margin-left: 93px;
  padding-inline-start: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav a {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.auth-nav-item:hover,
.auth-nav-item:focus {
  color: var(--accent-color);
}


.auth-nav-link + .auth-nav-link {
  margin-left: 50px;
}

.header-envelope {
  margin-right: 10px;
  fill: currentColor;
  vertical-align: middle;
}



/* ------------------------ HERO -------------------------- */

.hero {
  background-color: #C4C4C4;
  background-image:  linear-gradient(
    rgba(47, 48, 58, 0.4), 
    rgba(47, 48, 58, 0.4)
    ), 
    url(../image/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  min-width: 1600px;
}

.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 30px;
}

.hero-button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;

  width: 200px;
  height: 50px;
  border-radius: 4px;
  border-color: var(--accent-color);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

/* -------------------- FEATURE ---------------------- */

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  flex-wrap: wrap;
  padding-inline-start: 0;
  justify-content: center;
}

.features-list .item {
  width: 270px;
}

.features-list .item + .item {
  margin-left: 30px;
}

.features-box-icons{
  width: 270px;
  height: 120px;
  background-color: var(--secondary-background);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.features-icons {
  background-position: center;
}


.features-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-top: 30px;
  margin-bottom: 10px;
}

.features-text {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;

  margin-top: 0;
  margin-bottom: 0;
}

/* -------------------- ABOUT US ------------------- */

.benefits {
  padding-bottom: 94px;
}

.benefits-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0;
}

.benefits-list {
  display: flex;
  justify-content: center;
  padding-inline-start: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.benefits-list .item + .item {
  margin-left: 30px;
}

.benefits-card {
  position: relative;
}

.benefits-item-title {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  display: flex;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  justify-content: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
  padding-top: 27px;

  position: absolute;
  bottom: 0;
  right: 0;
}

/* --------------------- OUR TEAM ----------------------- */

.section {
  background-color: #F5F4FA;
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-bottom: 50px;
  margin-top: 0;
}

.section-list {
  display: flex;
  justify-content: center;
  padding-inline-start: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.section-item {
  border: 1px solid transparent;
  background-color: var(--primary-white-color);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
  0px 1px 1px rgba(0, 0, 0, 0.14), 
  0px 2px 1px rgba(0, 0, 0, 0.2);
}

.section-item + .section-item {
  margin-left: 30px;
}

.section-post-title {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-top: 0;
}

.section-post-text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.section-box {
  padding-top: 30px;
  padding-bottom: 30px; 
}

.members-soc-list{
  display: flex;
  justify-content: center;
  padding-inline-start: 0;
}

.members-soc-item{
  width: 44px;
  height: 44px;
  margin-left: 10px;
}

.members-soc-item:first-child{
  margin-left: 0;
}

.members-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;  
}

.members-soc-icon {
  fill: #AFB1B8;
}

.members-soc-link:hover,
.members-soc-link:focus {
  background-color: var(--accent-color);
}

.members-soc-link:hover .members-soc-icon,
.members-soc-link:focus .members-soc-icon {
  fill: var(--primary-white-color);
}

/* ---------------------- CLIENTS --------------------- */

.clients-title {
  font-weight: 700;
  text-align: center;
  font-size: 36px;
  line-height: 1.17;

  margin-top: 94px;
  margin-bottom: 50px;
}

.clients-icon-list{
  display: flex;
  margin-top: 0;
  padding: 0;
  margin-bottom: 94px;
}

.clients-icon-item{
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
}

.clients-icon-item + .clients-icon-item{
  margin-left: 30px;
}

.clients-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.clients-icon-item:hover,
.clients-icon-item:focus {
  border-color: var(--accent-color);
}

.clients-logo-icon {
  fill: #AFB1B8;
}

.clients-icon:hover .clients-logo-icon,
.clients-icon:focus .clients-logo-icon {
  fill: var(--accent-color);
}


/* --------------------- FOOTER --------------------- */

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.contacts {
  display: flex;
}

.logo-web-secondary {
  color: var(--accent-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-studio-secondary {
  color: var(--primary-white-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.footer-adress {
  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;

  margin-top: 20px;
  padding-left: 0;
  margin-bottom: 0;
}

.footer-adress .item + .item {
  margin-top: 9px;
}

.footer-link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

.footer-title {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px ;
  line-height: 1.17;
  font-style: normal;
  margin-bottom: 20px;
}

.footer-soc-list{
  display: flex;
  padding-inline-start: 0;
}

.footer-soc-item{
  width: 44px;
  height: 44px;
  margin-left: 10px;
}

.footer-soc-item:first-child{
  margin-left: 0;
}

.footer-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-soc-icon {
  fill: var(--primary-white-color);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--accent-color);
}

.footer-soc-information{
  margin-left: 70px;
}


/* ------------------- PAGE PORTFOLIO ------------------ */

[href] {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.main {
  padding-top: 100px;
  padding-bottom: 94px;
}

.menu-button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 0;
  padding-inline-start: 0;
}

.menu-button .item + .item {
  margin-left: 8px;
}

.main-button {
  background-color: var(--secondary-backround);
  color: var(--primary-text-color);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  cursor: pointer;

  min-width: 73px;
  padding: 6px 22px 6px 22px;
  border-radius: 4px;
  border-color: transparent;
  background-color: var(--secondary-background);
}

.main-button:hover,
.main-button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
  0px 1px 2px rgba(0, 0, 0, 0.08), 
  0px 2px 2px rgba(0, 0, 0, 0.12);
}

.menu-pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-inline-start: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.menu-pictures .item {
  width: 370px;
  height: 404px;
  border: 1px solid #eeeeee;
  background-color: var(--primary-white-color);

  margin-right: 30px;
  margin-bottom: 30px;
}

.menu-pictures .item:nth-child(3n) {
  margin-right: 0;
}

.menu-pictures .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.menu-pictures .item:hover{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
  0px 4px 4px rgba(0, 0, 0, 0.06), 
  1px 4px 6px rgba(0, 0, 0, 0.16);
} 

.name-pictures {
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
}

.image-card {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*.image-card::before {
  display: flex;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;*/

   


.image-text {
  font-weight: 400;
   font-size: 18px;
   line-height: 1.56;
   color: var(--primary-white-color);
   text-align: center;
   justify-content: center;
   margin: 0;
   background-color: rgba(33, 150, 243, 0.9);
   display: flex;
   position: absolute;
}


.title-pictures {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-bottom: 4px;
  margin-top: 0;
}

.text-pictures {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.88;

  margin-top: 0;
  margin-bottom: 0;
}
