/* цвет основного текста #212121 */
/* цвет вторичного текста #757575 */
/* цвет акцента #2196F3 */
/* белый цвет #FFFFFF */
/* основной фон #E5E5E5 */
/* дополнительный фон #F5F4FA */

:root {
  --primary-text-color: rgba(33, 33, 33, 1);
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-background: #e5e5e5;
  --secondary-backround: #f5f4fa;
}

body {
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}
ul {
  list-style: none;
}

/* -------- HEADER --------- */

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid red;

}

.page-header {
  background-color: #ffffff;
}

.main-nav {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
}

.logo-web-primary {
  color: var(--accent-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-studio-primary {
  color: var(--primary-text-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.site-nav .link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.site-nav .link:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-left: 0;
}

.site-nav {
  display: flex;
  margin-left: 93px;
  padding-inline-start: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav a {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.02em;
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

.auth-nav .link + .link {
  margin-left: 50px;
}

/* hero */

.hero {
  background-color: #2f303a;
  text-align: center;
}

.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 200px;
}

.hero-button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  margin-bottom: 200px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border-color: var(--accent-color);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

/* feature */

.features {
  background-color: var(--primary-background);
}

.features-list {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
  margin-top: 0;
  margin-bottom: 0;
  flex-wrap: wrap;
  padding-inline-start: 0;
  justify-content: center;
}

.features-list .item {
  width: 270px; 
}

.features-list .item + .item {
  margin-left: 30px;
}

.features-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}

.features-text {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 0;
}

/* about us */

.benefits {
  background-color: var(--primary-background);
}

.benefits-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

/* our team */

.section {
  background-color: var(--secondary-backround);
}

.section-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section-post-title {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.section-post-text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
}

/* footer */
.footer {
  background-color: #2f303a;
}

.logo-web-secondary {
  color: var(--accent-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-studio-secondary {
  color: var(--primary-white-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.footer-adress {
  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.footer-link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

/* page portfolio */

[href] {
  text-decoration: none;
}

.main {
  background-color: var(--primary-background);
}

.main-button {
  background-color: var(--secondary-backround);
  color: var(--primary-text-color);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  cursor: pointer;
}
.main-button:hover,
.main-button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.title-pictures {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.text-pictures {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.88;
}
