.clients-title {
  font-weight: 700;
  text-align: center;
  font-size: 36px;
  line-height: 1.17;

  margin-top: 94px;
  margin-bottom: 50px;
}

.clients-icon-list {
  display: flex;
  margin-top: 0;
  padding: 0;
  margin-bottom: 94px;
}

.clients-icon-item {
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
   &:hover,
   &:focus {
    border-color: var(--accent-color);}
}

.clients-icon-item + .clients-icon-item {
  margin-left: 30px;
}

.clients-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.clients-logo-icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.clients-icon:hover .clients-logo-icon,
.clients-icon:focus .clients-logo-icon {
  fill: var(--accent-color);
}