.features {
  padding-top: 60px;
  padding-bottom: 60px;



  /*padding-top: 94px;
  padding-bottom: 94px;*/
}

.features__list {
  /*display: flex;*/
  margin-top: 0;
  margin-bottom: 0;
  
  padding-inline-start: 0;
  justify-content: center;
}

.features__item {
   width: 100%; 
  /*width: 270px;*/
}

/*.features__item + .features__item {
  margin-left: 30px;
}*/

.features__box {
  width: 100%;
  
  /*width: 270px;*/
  height: 120px;

  background-color: var(--secondary-background);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.features__icons {
  background-position: center;
}

.features__title {

  text-align: center;

  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-top: 30px;
  margin-bottom: 10px;
}

.features__text {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;

  margin-top: 0;
  margin-bottom: 0;

  width: 100%;

  &:not(:last-child) {
  margin-bottom: 30px;
}
}
