.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features__list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  flex-wrap: wrap;
  padding-inline-start: 0;
  justify-content: center;
}

.features__item {
    width: 270px;
}

.features-list .item + .item {
  margin-left: 30px;
}

.features-box-icons {
  width: 270px;
  height: 120px;
  background-color: var(--secondary-background);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.features-icons {
  background-position: center;
}

.features-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-top: 30px;
  margin-bottom: 10px;
}

.features-text {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;

  margin-top: 0;
  margin-bottom: 0;
}
