.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

/*.contacts {
  /*display: flex;}*/


.footer-logo {
  text-align: center;
  margin-bottom: 20px;
}

.footer-adress {
  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;

  margin-top: 20px;
  padding-left: 0;
  margin-bottom: 0;
}

.footer-adress .item {
  text-align: center;
}

.footer-adress .item + .item {
  margin-top: 9px;
}



.footer-link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);

    &:hover,
    &:focus {
  color: var(--accent-color);
}
}

.footer-title {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  font-style: normal;
  margin-bottom: 20px;
  margin-top: 60px;
}

.footer-soc-list {
  display: flex;
  padding-inline-start: 0;
  align-items: center;
  justify-content: center;
}

.footer-soc-item {
  width: 44px;
  height: 44px;
  margin-left: 10px;

   &:first-child {
   margin-left: 0;
}
}

.footer-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);

    &:hover,
    &:focus {
    background-color: var(--accent-color);
}
}

.footer-soc-icon {
  fill: var(--primary-white-color);
}

.footer-soc-information {
  align-items: center;
  justify-content: center;
  text-align: center;
  /*margin-left: 70px;*/
  
}



.communication-title{
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  margin-bottom: 20px;
  margin-top: 60px;


  text-align: center;
}

.footer-btn {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border-color: var(--accent-color);
  text-align: center;
  justify-content: center;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  /*margin-left: 12px;*/
   
  border-color: transparent; 
  position: relative;

  padding-left: 0;
  padding-right: 29px;
  cursor: pointer;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.footer-communication{
  display: block;
  /*margin-left: 93px;*/
}

/*.subscription {
  /*display: flex;
  right: 0;}*/


.footer-icon-btn{
  fill: var(--primary-white-color);
  position: absolute;
  margin-left: 10px; 
}

.footer-input{
  width: 100%;
  /*width: 358px;*/
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  padding-left: 16px;
  background-color: #2F303A;
  color: var(--primary-white-color);

  margin-left: auto;
  margin-right: auto;
}

.placeholder{
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-top: 15px;
  padding-left: 16px;

  align-items: center;
  justify-content: center;
}