.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.contacts {
  @media screen and (min-width: 1200px) {
  display: flex;}
}
  
.footer-logo {
  text-align: center;
  margin-bottom: 20px;
  @media screen and (min-width: 1200px) {
    text-align: start;
    margin-bottom: 0;
  }
}

.footer-adress {
  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  margin-top: 20px;
  padding-left: 0;
  margin-bottom: 0;
}

.footer-adress .item {
  text-align: center;
  @media screen and (min-width: 1200px) { 
    text-align: start;
  }
}

.footer-adress .item + .item {
  margin-top: 9px;
}

.footer-adress-information {
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
    margin-right: 0;
  }
  @media screen and (min-width: 1200px) { 
    width: calc(100% / 2);
  }
}

.box-footer{
  @media screen and (min-width: 768px) {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

  @media screen and (min-width: 1200px) { 
  flex-wrap: nowrap; 
  gap: 0; 
  }
}

.footer-link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);

    &:hover,
    &:focus {
  color: var(--accent-color);
}
}

.footer-title {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  font-style: normal;
  margin-bottom: 20px;
  margin-top: 60px;
  @media screen and (min-width: 768px) {
    margin-top: 0;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}

.footer-soc-list {
  display: flex;
  padding-inline-start: 0;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.footer-soc-item {
  width: 44px;
  height: 44px;
  margin-left: 10px;

   &:first-child {
   margin-left: 0;
}

}

.footer-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);

    &:hover,
    &:focus {
    background-color: var(--accent-color);
}
}

.footer-soc-icon {
  fill: var(--primary-white-color);
}

.footer-soc-information {
  align-items: center;
  justify-content: center;
  text-align: center;

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2); 
  }
  @media screen and (min-width: 1200px) { 
    width: calc(100% / 2);
    text-align: start;
    margin-left: 70px;
  }
}



.communication-title{
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  margin-bottom: 20px;
  margin-top: 60px;
  text-align: center;
  @media screen and (min-width: 1200px) { 
    margin-top: 0;
    text-align: start;
  }
}

.footer-btn {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border-color: var(--accent-color);
  text-align: center;
  justify-content: center;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
    
  border-color: transparent; 
  position: relative;

  padding-left: 0;
  padding-right: 29px;
  cursor: pointer;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 1200px) { 
    margin-left: 12px;
    margin-top: 0; 
  } 
}

.footer-communication{
  display: block;
  @media screen and (min-width: 1200px) { 
   margin-left: 93px;
   right: 0;
  }
}

.subscription {
  @media screen and (min-width: 1200px) {
  display: flex;
  right: 0;
}
} 
  
.footer-icon-btn{
  fill: var(--primary-white-color);
  position: absolute;
  margin-left: 10px; 
}

.footer-input{
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
  background-color: #2F303A;
  color: var(--primary-white-color);
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    width: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1200px) { 
    width: 358px;
  }
}

.placeholder{
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-top: 15px;
  padding-left: 16px;

  align-items: center;
  justify-content: center;
}