.hero {
  background-color: #c4c4c4;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../image/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;

  padding-top: 118px;
  padding-bottom: 118px;

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    /*min-width: 1600px;*/
  }
}

.hero__title {
  color: var(--primary-white-color);
  font-weight: 900;

  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 30px;

@media screen and (min-width: 1200px) {
  font-size: 44px;
  line-height: 1.36;
  }
  
  
}

.hero__button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;

  width: 200px;
  height: 50px;
  border-radius: 4px;
  border-color: var(--accent-color);
  transition: background-color 250ms var(--timing-function);

    &:hover,
    &:focus {
    background-color: #188ce8;
}
}

