.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  /*
  font-size: 26px;
  line-height: 1.19;*/
  text-decoration: none;
}

.logo--color-blue {
  color: var(--accent-color);  
}

.logo--color-black {
  color: var(--primary-text-color);
}

.logo--color-white {
  color: var(--primary-white-color);
}