.page-header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
  margin-top: 0;
  margin-bottom: 0;
}

.nav {
  display: flex;
  align-items: center;
}

.menu {
  display: none;
  margin-left: 93px;
  padding-inline-start: 0;
  margin-top: 0;
  margin-bottom: 0;
@media screen and (min-width: 768px) {
  display: flex;
  }
@media screen and (min-width: 1200px) { 
  display: flex;     
}
}

.menu__link {
color: #212121;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
text-decoration: none;
letter-spacing: 0.02em;
transition: color 250ms var(--timing-function);
     
&:hover,
&:focus {
color: #2196f3;}}

.menu__link--current {
  color: var(--accent-color);} 
     
.menu__link--current::after {
content: "";
position: absolute;
left: 0;
bottom: 0;
display: block;
width: 100%;
height: 4px;
background-color: var(--accent-color);
border-radius: 2px;
}
  
.menu__item {
display: block;
padding-top: 32px;
padding-bottom: 32px;
margin-left: 0;
position: relative;

&:not(:last-child) {
margin-right: 50px;
}
}

.connect {
  display: none;
  margin-left: auto;
@media screen and (min-width: 768px) {
  display: block;
  }
@media screen and (min-width: 1200px) { 
  display: flex;     
}
}

.connect__link {
     color: var(--secondary-text-color);
     font-weight: 500;
     font-size: 12px;
     line-height: 1.16;
     text-decoration: none;
     letter-spacing: 0.02em;
     transition: color 250ms var(--timing-function);
     @media screen and (min-width: 1200px) { 
      font-size: 14px;
     line-height: 1.14;
     }

       &:hover,
       &:focus {
       color: var(--accent-color);
}
}

.connect__item + .connect__item {
  @media screen and (min-width: 768px) { 
  margin-top: 10px;  
}
  @media screen and (min-width: 1200px) { 
  margin-left: 50px;
  margin-top: 0;
}
}
  

.connect__icon {
  margin-right: 10px;
  fill: currentColor;
  vertical-align: middle;
}

.mobile-menu {
  position: fixed;
  z-index: 2;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; 
}

.mobile-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  overflow: auto;
}

.mobile-open-button{
  display: block;
  margin-left: auto;
  background-color: transparent;
  border-color: transparent;
  justify-content: center;
@media screen and (min-width: 768px) {
  display: none;
  }
@media screen and (min-width: 1200px) { 
  display: none;     
}
}

.mobile-menu-icon {
  fill: #212121;
  transition: fill 250ms var(--timing-function);

    &:hover,
    &:focus{
    fill: var(--accent-color);
    cursor: pointer;
}
}

.mob-menu-pages{
  margin-top: 48px;
  margin-left: 40px;
}

.mob-menu-link{
  color: #212121;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;

  &:hover,
  :focus {
    color: var(--accent-color);
  }
}

.mob-connect{  
   margin-bottom: 64px;
   margin-left: 40px;
}

.mob-menu-item {
  margin-bottom: 32px;
  &:last-child {
  margin-bottom: 0;
}
}

.mob-menu-link.current{
  color: var(--accent-color);
}

.mob-connect-tel{
  color: var(--accent-color);
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em; 
}

.mob-item-tel{
  margin-bottom: 32px;
}

.mob-connect-mail{
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.mobile-close-button{
  background-color: transparent;
  border-color: transparent;
  top: 21px;
  right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.mobile-button-icon{
  fill: black;
  transition: fill 250ms var(--timing-function);
  
    &:hover,
    &:focus{
    fill: var(--accent-color);
    cursor: pointer;
}
}

.mobile-second-conteiner {
  bottom: 48px;
}

.mobile-soc-list{
 display: flex;
 margin-left: 40px;
}

.mobile-soc-link{
  color: var(--accent-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em; 
  padding-right: 10px; 
}

.mobile-soc-item{
  &:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
}

.mobile-soc-item + .mobile-soc-item{
  margin-left: 10px;
}
