body {
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}
ul {
  list-style: none;
}

[href] {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
